.bg-gray-200 {
    background-color: #f0f2f5;
}

.back-img {
    background-image: url('../../assets/img/galaxy.jpeg') !important;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.mask {
    position: absolute;
    background-position: 50%;
    top: 0;
    width: 100%;
}

.bg-gradient-darks {
    background-image: linear-gradient(195deg, #42424a, #191919) !important;
}

.page-header .container {
    z-index: 1;
}

.fa-facebook,
.fa-github,
.fa-google {
    width: 1.3rem !important;
}

.sign-logo {
    justify-content: space-around;
}

.bg-gradient-primarys {
    background-image: linear-gradient(195deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4) !important;
    border-radius: 0.5rem;
}

.form-labels {
    top: -0.5rem;
    line-height: 3.925rem;
    margin-right: 0.725rem;
    display: flex;
    position: absolute;
    font-size: 1rem;
    color: #7b809a;
    z-index: 10;
}

.sign-form {
    background: none !important;
    border: 1px solid #d2d6da !important;
    border-radius: 0.375rem !important;
    padding: 0.625rem !important;
}

.text-gradient {
    margin: 0.3rem !important;
    color: #e91e63 !important;
    text-decoration: none !important;
}

.bg-gradient-primaryb {
    box-shadow: 0 3px 3px 0 rgba(233,30,99,.15),0 3px 1px -2px rgba(233,30,99,.2),0 1px 5px 0 rgba(233,30,99,.15);
    background-image: linear-gradient(195deg,#ec407a,#d81b60);
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 0.75rem !important;
}

.btn:focus {
    box-shadow: none;
}

.bottom-2 {
    bottom: 2%;
}

.license {
    padding-right: 1rem;
}

.nav-footer .nav-item {
    margin: 0;
}