.btn-rounded {
    border-radius: 1.875rem !important;
}

.btn-rounded:hover {
    opacity: 0.75 !important;
} 

.btn-outline-success:hover {
    background-color: #fff !important;
}

.btn-outline-success:active {
    background-color: #fff !important;
}

.btn-outline-danger:hover {
    background-color: #fff !important;
}

.btn-outline-danger:active {
    background-color: #fff !important;
}

.btn-outline-dark:hover {
    background-color: #fff !important;
}

.btn-outline-dark:active {
    background-color: #fff !important;
}

.text-lg {
    margin-left: 0 !important;
}